@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden auto;
}
body::after {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.08;
}

/* nice scroll bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #132F75;
  border-radius: 50px;
}

.container {
  width: 100vw;
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

.chat_wapper .container .chat .head,
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.lg-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.g-1 {
  grid-column: span 1;
}

.g-2 {
  grid-column: span 2;
}

.g-3 {
  grid-column: span 3;
}

.g-4 {
  grid-column: span 4;
}

.g-5 {
  grid-column: span 5;
}

.g-6 {
  grid-column: span 6;
}

.g-7 {
  grid-column: span 7;
}

.g-8 {
  grid-column: span 8;
}

.g-9 {
  grid-column: span 9;
}

.g-10 {
  grid-column: span 10;
}

.g-11 {
  grid-column: span 11;
}

.g-12 {
  grid-column: span 12;
}

.shadow {
  box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
}

.head {
  font-weight: 700;
  font-size: clamp(1.75rem, 1.1607rem + 2.4176vw, 3.125rem);
  line-height: clamp(1.875rem, 0.9911rem + 3.6264vw, 3.9375rem);
  text-align: center;
  color: #132F75;
  padding: 0 10px;
}

.alert-danger {
  --bs-alert-color: #842029;
  --bs-alert-bg: #f8d7da;
  --bs-alert-border-color: #f5c2c7;
  border-radius: 20px;
  max-width: 320px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#errors {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 222222222222222200000000000000;
  display: none;
}

body {
  zoom: 95%;
}

@media (max-height: 800px) and (min-width: 1000px) {
  body {
    zoom: 75%;
  }
}
.dots {
  width: 56px;
  height: 13.4px;
  background: radial-gradient(circle closest-side, #132f75 90%, rgba(0, 0, 0, 0)) 0% 50%, radial-gradient(circle closest-side, #132f75 90%, rgba(0, 0, 0, 0)) 50% 50%, radial-gradient(circle closest-side, #132f75 90%, rgba(0, 0, 0, 0)) 100% 50%;
  background-size: 33.3333333333% 100%;
  background-repeat: no-repeat;
  animation: dots-zcf63l 1s infinite linear;
  margin: 20px;
}

@keyframes dots-zcf63l {
  33% {
    background-size: 33.3333333333% 0%, 33.3333333333% 100%, 33.3333333333% 100%;
  }
  50% {
    background-size: 33.3333333333% 100%, 33.3333333333% 0%, 33.3333333333% 100%;
  }
  66% {
    background-size: 33.3333333333% 100%, 33.3333333333% 100%, 33.3333333333% 0%;
  }
}
* {
  scroll-behavior: smooth;
}

header .container nav ul li {
  position: relative;
}
header .container nav ul li > span {
  position: absolute;
  top: calc(100% - 20px);
  width: 30px;
  height: 30px;
  color: #fff;
  background: #b52020;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  left: calc(100% - 35px);
  border: 2px solid #fff;
}

.notification {
  position: relative;
}
.notification span {
  position: absolute;
  top: calc(100% - 20px);
  color: #fff;
  background: #b52020;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  right: calc(100% - 10px);
  border: 2px solid #fff;
  font-size: 13px;
  line-height: 10px;
  padding: 7px;
}
.notification span.no {
  display: none;
}

header .notification-wrapper {
  position: relative;
}
header .notification-wrapper ul {
  position: absolute;
  top: calc(100% + 20px);
  right: 0;
  width: max-content;
  background: white;
  padding: 20px 0;
  border-radius: 20px;
  z-index: 99999;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: none;
  display: flex;
  flex-direction: column;
  gap: 0;
}
header .notification-wrapper ul li {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 20px;
  background: #ebebeb;
  margin: 10px 0;
}
header .notification-wrapper ul li.no {
  font-size: 19px;
  min-width: 210px;
}
header .notification-wrapper ul li .img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #FFC400;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
header .notification-wrapper ul li .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .notification-wrapper ul li h1 {
  font-size: 25px;
  display: flex;
  align-items: end;
  font-weight: 600;
  gap: 10px;
}
header .notification-wrapper ul li h1 .rate {
  font-size: 14px;
  color: #132F75;
  margin-bottom: 5px;
  font-weight: 400;
}
header .notification-wrapper ul li > div > span {
  margin: 5px 20px 10px;
  display: block;
}
header .notification-wrapper ul li .steps {
  display: flex;
  gap: 14px;
}
header .notification-wrapper ul li .steps > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
header .notification-wrapper ul li .steps > div span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFC400;
  font-size: 20px;
  font-weight: 600;
}
header .notification-wrapper ul li .steps > div.done span {
  background: #FFC400;
}

.chat_wapper {
  height: calc(100vh - 122px) !important;
}
.chat_wapper .container {
  height: 100%;
  padding: 30px 20px;
  grid-template-rows: 100%;
}
@media (max-width: 899.98px) {
  .chat_wapper .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.chat_wapper .container .side-chats {
  padding: 20px;
  border: 1px solid #ffffff;
  height: 100%;
  border-radius: 20px 0 0 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media (max-width: 899.98px) {
  .chat_wapper .container .side-chats {
    border-radius: 20px 20px 0 0px;
    width: 100%;
    max-height: 320px;
    height: max-content;
    overflow: auto;
  }
}
.chat_wapper .container .side-chats ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  max-height: 100%;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
  padding-right: 10px;
}
@media (max-width: 899.98px) {
  .chat_wapper .container .side-chats ul {
    margin: 0;
    padding: 0;
  }
}
.chat_wapper .container .side-chats ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  color: #000000;
  align-items: center;
  gap: 14px;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  border: 2px solid transparent;
  transition: all 0.1s ease-out;
  cursor: pointer;
}
@media (max-width: 899.98px) {
  .chat_wapper .container .side-chats ul li a {
    padding: 10px;
    border-radius: 10px;
  }
}
.chat_wapper .container .side-chats ul li a span {
  color: #fff;
  background: rgba(181, 32, 32, 0.9019607843);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.chat_wapper .container .side-chats ul li a .profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 1px solid rgba(255, 255, 255, 0.4862745098);
}
.chat_wapper .container .side-chats ul li a .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.chat_wapper .container .side-chats ul li a:hover, .chat_wapper .container .side-chats ul li a.selected {
  border: 2px solid #FFC400 !important;
}
.chat_wapper .container .side-chats ul li:nth-child(odd) a {
  background: rgba(0, 0, 0, 0.0784313725);
  border: 2px solid rgba(0, 0, 0, 0.0392156863);
}
.chat_wapper .container .chat {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0 20px 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 899.98px) {
  .chat_wapper .container .chat {
    width: 100%;
    height: 500px;
    border-radius: 0 0 20px 20px;
  }
}
.chat_wapper .container .chat .head {
  justify-content: space-between;
  border-bottom: 1px solid #132F75;
  padding-bottom: 15px;
}
@media (max-width: 899.98px) {
  .chat_wapper .container .chat .head {
    display: none;
  }
}
.chat_wapper .container .chat .head div {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  display: flex;
  color: #000000;
  align-items: center;
  gap: 20px;
}
.chat_wapper .container .chat .head div .profile {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 1px solid #fff;
}
.chat_wapper .container .chat .head div .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.chat_wapper .container .chat .msgs {
  height: 100%;
  margin: 20px 0;
  overflow: auto;
  padding: 1rem;
  background: #F7F7F7;
  border-radius: 5px;
  flex-shrink: 2;
  overflow-y: auto;
  box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);
}
.chat_wapper .container .chat .msgs > p {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 210px;
  color: #a9a8a8;
  font-size: clamp(6.875rem, 4.2935rem + 10.8696vw, 13.125rem);
}
.chat_wapper .container .chat .msgs ul {
  list-style: none;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.chat_wapper .container .chat .msgs ul li {
  flex-direction: column;
  padding: 10px 15px;
  gap: 5px;
}
.chat_wapper .container .chat .msgs ul li.appointment {
  min-width: 280px;
}
.chat_wapper .container .chat .msgs ul li h4 {
  font-size: 20px;
}
.chat_wapper .container .chat .msgs ul li .profile {
  display: flex;
  gap: 15px;
  align-items: center;
}
.chat_wapper .container .chat .msgs ul li .profile .img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.chat_wapper .container .chat .msgs ul li .profile .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.chat_wapper .container .chat .msgs ul li .profile .name h6 {
  margin: 0;
}
.chat_wapper .container .chat .msgs ul li .date {
  display: flex;
  gap: 15px;
  font-size: 17px;
  margin: 5px 5px 0;
  border: none !important;
}
.chat_wapper .container .chat .msgs ul li .date span {
  font-size: 16px !important;
  color: #3e3e3e !important;
}
.chat_wapper .container .chat .msgs ul li .address {
  display: flex;
  gap: 5px;
  margin-left: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  text-align: center;
}
.chat_wapper .container .chat .msgs ul li .address span {
  font-size: 14px !important;
  color: black !important;
  text-align: center;
}
.chat_wapper .container .chat .msgs ul li .online_session {
  text-align: center;
  font-weight: 700;
}
.chat_wapper .container .chat .msgs ul li .btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 7px;
}
.chat_wapper .container .chat .msgs ul li .btns button {
  width: 33%;
  padding: 5px 10px;
  border-radius: 15px;
}
.chat_wapper .container .chat .msgs ul li .btns button.accept_change {
  color: #026602;
  background: rgba(0, 128, 0, 0.0784313725);
  border: 2px solid;
}
.chat_wapper .container .chat .msgs ul li .btns button.cancel_change {
  color: #660202;
  background: rgba(128, 0, 0, 0.0784313725);
  border: 2px solid;
}
.chat_wapper .container .chat .msgs ul li .controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 5px 5px;
}
.chat_wapper .container .chat .msgs ul li .controls button {
  background: transparent;
  font-size: 22px;
  padding: 5px;
  border: 2px solid;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.chat_wapper .container .chat .msgs ul li .controls button:first-child {
  color: #3e3e3e;
  background: rgba(128, 128, 128, 0.1215686275);
}
.chat_wapper .container .chat .msgs ul li .controls button:nth-child(2) {
  color: #026602;
  background: rgba(0, 128, 0, 0.0784313725);
}
.chat_wapper .container .chat .msgs ul li span {
  font-size: 12px;
  color: #646464;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 7px;
}
.chat_wapper .container .chat .msgs ul .your-msg {
  display: flex;
  justify-content: end;
  margin: 10px 10px 10px auto;
  border-radius: 1.125rem 1.125rem 0 1.125rem;
  background: #132F75;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
  color: #ffffff;
  max-width: 80%;
  padding: 10px 15px;
}
.chat_wapper .container .chat .msgs ul .your-msg p {
  margin: 0;
}
.chat_wapper .container .chat .msgs ul .your-msg .accepted {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 17px;
  color: #FFC400;
}
.chat_wapper .container .chat .msgs ul .your-msg .date span {
  color: rgba(255, 255, 255, 0.7607843137) !important;
}
.chat_wapper .container .chat .msgs ul .your-msg .address span {
  color: white !important;
}
.chat_wapper .container .chat .msgs ul .your-msg .status {
  text-align: center;
}
.chat_wapper .container .chat .msgs ul .your-msg .controls {
  margin: 5px 5px 5px;
}
.chat_wapper .container .chat .msgs ul .your-msg .controls input {
  display: none;
}
.chat_wapper .container .chat .msgs ul .your-msg .controls button {
  color: #FFC400 !important;
  width: fit-content;
  background: rgba(255, 255, 255, 0);
}
.chat_wapper .container .chat .msgs ul .your-msg .accept_change, .chat_wapper .container .chat .msgs ul .your-msg .cancel_change {
  display: none;
}
.chat_wapper .container .chat .msgs ul .your-msg span {
  color: #cbcbcb;
  text-align: right;
  justify-content: end;
}
.chat_wapper .container .chat .msgs ul .their-msg {
  display: flex;
  justify-content: start;
  margin: 10px auto 10px 10px;
  border-radius: 1.125rem 1.125rem 1.125rem 0;
  max-width: 80%;
  background: white;
  color: #000000;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
}
.chat_wapper .container .chat .msgs ul .their-msg .controls {
  position: relative;
}
.chat_wapper .container .chat .msgs ul .their-msg .controls .set-date {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  background: rgba(145, 145, 145, 0.7607843137);
  padding: 10px;
  bottom: 125%;
  border-radius: 15px;
  backdrop-filter: blur(1px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: none;
}
.chat_wapper .container .chat .msgs ul .their-msg .controls .set-date input {
  padding: 10px;
  border-radius: 20px;
  border: none;
  max-width: 200px;
}
.chat_wapper .container .chat .msgs ul .their-msg .controls .set-date input[type=submit] {
  background-color: #132F75;
  color: #FFC400;
  transition: background-color 0.2s ease-in-out;
}
.chat_wapper .container .chat .msgs ul .their-msg .controls .set-date input[type=submit]:hover {
  background-color: #1d429f;
}
.chat_wapper .container .chat .msgs ul .their-msg p {
  margin: 0;
}
.chat_wapper .container .chat .msgs ul .their-msg .accepted {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 17px;
  color: #026602;
}
.chat_wapper .container .chat .msgs ul .their-msg .status {
  text-align: center;
  text-align: center !important;
  color: #026602 !important;
}
.chat_wapper .container .chat .msgs ul .their-msg .status * {
  display: none;
}
.chat_wapper .container .chat form {
  position: relative;
}
.chat_wapper .container .chat form input, .chat_wapper .container .chat form textarea {
  background: #FFFFFF;
  border: 2px solid #FFC400;
  box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  padding: 14px 20px;
  color: #000000;
  width: 100%;
  padding-right: 50px;
  height: fit-content;
}
.chat_wapper .container .chat form button {
  position: absolute;
  transform: translateY(-50%);
  bottom: 0;
  border: none;
  background: transparent;
  font-size: 35px;
  display: flex;
  color: #132F75;
  right: 20px;
}

@media (max-width: 599.98px) {
  .account_wrapper .container {
    display: flex;
    flex-direction: column;
  }
}
.account_wrapper .container .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: clamp(1.25rem, 0.4688rem + 2.5vw, 1.875rem) 0;
}
.account_wrapper .container .profile .img {
  width: clamp(10rem, 8.9674rem + 4.3478vw, 12.5rem);
  height: clamp(10rem, 8.9674rem + 4.3478vw, 12.5rem);
  overflow: hidden;
  border-radius: 50%;
}
.account_wrapper .container .profile .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.account_wrapper .container .profile h1 {
  font-size: 29px;
  font-weight: 600;
  color: #132F75;
  margin: 10px 0;
}
.account_wrapper .container .profile a {
  font-size: 23px;
  border-radius: 20px;
}
.account_wrapper .container #old_address {
  cursor: pointer !important;
}
.account_wrapper .container input, .account_wrapper .container #old_address {
  background: #ffffff;
  border: 1px solid #FFC400;
  box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: clamp(1.125rem, 0.9375rem + 0.7692vw, 1.5625rem);
  padding: clamp(0.75rem, 0.5357rem + 0.8791vw, 1.25rem) 20px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: clamp(1.25rem, 1.1696rem + 0.3297vw, 1.4375rem);
  line-height: clamp(1.75rem, 1.4821rem + 1.0989vw, 2.375rem);
  resize: none;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account_wrapper .container .form-group {
  display: flex;
  gap: 20px;
  position: relative;
}
.account_wrapper .container .form-group button {
  width: clamp(4.375rem, 3.6005rem + 3.2609vw, 6.25rem);
  border-radius: 16px;
  background-color: #FFC400;
  color: #132F75;
  border: 3px solid #FFC400;
  font-size: clamp(1.5625rem, 1.0462rem + 2.1739vw, 2.8125rem);
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
}
.account_wrapper .container .form-group span {
  margin: 10px 20px 0;
  display: block;
  font-size: clamp(1.0625rem, 0.8818rem + 0.7609vw, 1.5rem);
  color: #132F75;
  cursor: pointer;
  position: absolute;
  top: calc(100% + 5px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.account_wrapper .container .form-group span a {
  border-radius: 50px;
}

body {
  min-height: 100vh;
}

.home .container > h1 {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(1.6875rem, 1.3519rem + 1.413vw, 2.5rem);
  text-align: center;
  color: #132F75;
  max-width: 630px;
  margin: clamp(0.625rem, 0.3668rem + 1.087vw, 1.25rem) auto;
  line-height: clamp(2.1875rem, 1.697rem + 2.0652vw, 3.375rem);
}
.home .container > .form-group {
  max-width: 647px;
  margin: clamp(1.25rem, 0.8628rem + 1.6304vw, 2.1875rem) auto 0;
  position: relative;
  width: 100%;
}
.home .container > .form-group > i {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: clamp(1.375rem, 1.0394rem + 1.413vw, 2.1875rem);
  color: #132F75;
}
.home .container > .form-group .results {
  position: absolute;
  top: calc(100% + 20px) !important;
  list-style: none;
  display: flex;
  display: none;
  flex-direction: column;
  align-items: start;
  gap: 0;
  background: rgba(255, 255, 255, 0.9490196078);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  font-size: clamp(1.1875rem, 1.1101rem + 0.3261vw, 1.375rem);
  padding: clamp(0.625rem, 0.3668rem + 1.087vw, 1.25rem);
  border-radius: 15px;
  color: #213F75;
  backdrop-filter: blur(10px);
  z-index: 9999999;
  border: 1px solid #f5f5f5;
  margin: 0;
}
.home .container > .form-group .results a {
  display: block;
  text-decoration: none;
  color: #213F75;
  display: flex !important;
  justify-content: start !important;
  align-items: center;
  gap: 15px;
  padding: clamp(0.3125rem, 0.2609rem + 0.2174vw, 0.4375rem) 13px;
  border-radius: 5px;
  background-color: transparent;
  width: 100%;
  transition: background-color 0.3s ease-out;
}
.home .container > .form-group .results a:hover {
  background: rgba(128, 128, 128, 0.1490196078);
}
.home .container #search {
  background: #ffffff;
  border: 1px solid #FFC400;
  box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: clamp(1.125rem, 0.9375rem + 0.7692vw, 1.5625rem);
  padding: clamp(0.75rem, 0.5357rem + 0.8791vw, 1.25rem) 20px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: clamp(1.25rem, 1.0177rem + 0.9783vw, 1.8125rem);
  line-height: clamp(1.75rem, 1.4821rem + 1.0989vw, 2.375rem);
  resize: none;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: clamp(3.4375rem, 2.9212rem + 2.1739vw, 4.6875rem);
}
.home .container > p {
  font-weight: 400;
  font-size: clamp(1.1875rem, 0.9035rem + 1.1957vw, 1.875rem);
  line-height: clamp(1.75rem, 1.4918rem + 1.087vw, 2.375rem);
  text-align: center;
  color: #132F75;
  margin-top: clamp(1.25rem, 0.8628rem + 1.6304vw, 2.1875rem);
}
.home .container > p a {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid #FFC400;
  color: #132F75;
}
.home .container .booking .preview_warapper {
  padding-top: clamp(0.625rem, -0.1495rem + 3.2609vw, 2.5rem);
}
.home .container .booking .preview_warapper > h1 {
  height: clamp(3.125rem, 1.8342rem + 5.4348vw, 6.25rem);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 19px;
  font-weight: 600;
  font-size: clamp(1.5625rem, 1.3043rem + 1.087vw, 2.1875rem);
  color: #132F75;
}
.home .container .booking .preview {
  grid-template-columns: 1fr;
}
.home .container .booking .preview .slot_head {
  margin: clamp(1.5625rem, 1.4334rem + 0.5435vw, 1.875rem) clamp(0rem, -0.7745rem + 3.2609vw, 1.875rem) clamp(0.625rem, 0.4959rem + 0.5435vw, 0.9375rem);
  font-size: clamp(1.5625rem, 1.3818rem + 0.7609vw, 2rem);
  font-weight: 600;
  color: #132F75;
}
@media (max-width: 599.98px) {
  .home .container .booking .preview .slot_head {
    width: 100%;
    text-align: center;
  }
}
.home .container .booking .preview .slots ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  gap: 10px;
  padding: 0 12px;
}
@media (max-width: 599.98px) {
  .home .container .booking .preview .slots ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.home .container .booking .preview .slots ul li {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #ffffff;
  color: #132F75;
  padding: 10px;
  font-size: 18px;
  border-radius: 14px;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}
.home .container .booking .preview .slots ul li:hover, .home .container .booking .preview .slots ul li.selected {
  background-color: #FFC400;
}
.home .container .booking button, .home .container .profile_wrapper > a {
  text-decoration: none;
  background: #FFC400;
  box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
  font-weight: 600;
  font-size: clamp(1.375rem, 1.0394rem + 1.413vw, 2.1875rem);
  line-height: clamp(1.625rem, 1.1603rem + 1.9565vw, 2.75rem);
  text-align: center;
  color: #132F75;
  padding: 11px;
  width: 100%;
  margin-top: 13px;
  border: 3px solid #FFC400;
  display: block;
}
.home .container .profile_wrapper > a {
  background-color: #ffffff;
}
.home .container .profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: clamp(0.9375rem, 0.2921rem + 2.7174vw, 2.5rem);
  justify-content: center;
  align-items: center;
  position: relative;
}
.home .container .profile .img {
  width: clamp(9.375rem, 8.0842rem + 5.4348vw, 12.5rem);
  height: clamp(9.375rem, 8.0842rem + 5.4348vw, 12.5rem);
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #FFC400;
}
.home .container .profile .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home .container .profile .name {
  font-weight: 700;
  font-size: clamp(1.375rem, 1.1685rem + 0.8696vw, 1.875rem);
  line-height: clamp(0.625rem, -0.0978rem + 3.0435vw, 2.375rem);
  text-align: center;
  color: #132F75;
  margin-top: 20px;
}
.home .container .profile .rate {
  margin-top: 5px;
  font-size: clamp(1rem, 0.7418rem + 1.087vw, 1.625rem);
  color: #FFC400;
}
.home .container .profile .profession {
  margin-top: 14px;
  font-weight: 700;
  font-size: clamp(1.1875rem, 1.0584rem + 0.5435vw, 1.5rem);
  line-height: 32px;
  text-align: center;
  color: #132F75;
}
.home .container .profile .distance {
  margin-top: clamp(0rem, -0.1807rem + 0.7609vw, 0.4375rem);
  font-weight: 600;
  font-size: clamp(1.125rem, 1.0734rem + 0.2174vw, 1.25rem);
  line-height: clamp(0.875rem, 0.591rem + 1.1957vw, 1.5625rem);
  text-align: center;
  color: #132F75;
}
.home .container .profile .about {
  margin-top: clamp(0rem, -0.5163rem + 2.1739vw, 1.25rem);
  font-weight: 400;
  font-size: clamp(0.9375rem, 0.7568rem + 0.7609vw, 1.375rem);
  line-height: clamp(1.5rem, 1.2935rem + 0.8696vw, 2rem);
  text-align: center;
  color: #132F75;
}
.home .container .profile .bg-border {
  position: absolute;
  height: calc(100% - 140px);
  width: 100%;
  bottom: 0;
  left: 0;
  background: #FFFFFF;
  border: 3px solid #FFC400;
  box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  z-index: -1;
}
.home .professions_wrapper {
  margin: clamp(1.875rem, 1.3587rem + 2.1739vw, 3.125rem) 0;
}
.home .professions_wrapper h1 {
  font-weight: 500;
  font-size: clamp(1.625rem, 1.2636rem + 1.5217vw, 2.5rem);
  line-height: clamp(2.5rem, 2.2418rem + 1.087vw, 3.125rem);
  text-align: center;
  color: #132F75;
  margin-bottom: clamp(0.9375rem, 0.4212rem + 2.1739vw, 2.1875rem);
}
.home .professions_wrapper .professions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: stretch;
  gap: clamp(0.9375rem, 0.6793rem + 1.087vw, 1.5625rem);
}
.home .professions_wrapper .professions .profession {
  width: 200px;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: clamp(2.375rem, 2.0652rem + 1.3043vw, 3.125rem);
  line-height: clamp(2.375rem, 2.0652rem + 1.3043vw, 3.125rem);
  text-align: center;
  color: #132F75;
  position: relative;
  padding: 0 20px clamp(0.625rem, 0.3668rem + 1.087vw, 1.25rem);
  text-decoration: none;
  gap: 12px;
}
@media (max-width: 599.98px) {
  .home .professions_wrapper .professions .profession {
    width: clamp(10rem, 8.9674rem + 4.3478vw, 12.5rem);
  }
}
.home .professions_wrapper .professions .profession h4 {
  font-size: clamp(0.8125rem, 0.606rem + 0.8696vw, 1.3125rem);
  white-space: nowrap;
}
.home .professions_wrapper .professions .profession .img {
  width: clamp(5rem, 4.4837rem + 2.1739vw, 6.25rem);
  height: clamp(5rem, 4.4837rem + 2.1739vw, 6.25rem);
  background: #FFC400;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.home .professions_wrapper .professions .profession .img img {
  width: clamp(2.5rem, 2.2418rem + 1.087vw, 3.125rem);
  height: clamp(3.125rem, 2.8668rem + 1.087vw, 3.75rem);
  object-fit: contain;
}
.home .professions_wrapper .professions .profession .bg {
  position: absolute;
  width: 100%;
  height: calc(100% - clamp(2.5rem, 2.2418rem + 1.087vw, 3.125rem));
  bottom: 0;
  background: #FFFFFF;
  border: 1px solid #132F75;
  box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  z-index: -1;
}
.home .search_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: clamp(0.625rem, 0.1087rem + 2.1739vw, 1.875rem);
}
@media (max-width: 899.98px) {
  .home .search_wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 599.98px) {
  .home .search_wrapper {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}
.home .search_wrapper > h2 {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(1.75rem, 1.4402rem + 1.3043vw, 2.5rem);
  line-height: 50px;
  color: #132F75;
  margin-top: 10px;
}
.home .search_wrapper .therapist_overview {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  background: #FFFFFF;
  flex-direction: column;
  position: relative;
  text-decoration: none;
}
.home .search_wrapper .therapist_overview .img {
  width: 170px;
  height: 170px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 3px solid #FFC400;
  margin-bottom: 15px;
}
.home .search_wrapper .therapist_overview .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home .search_wrapper .therapist_overview h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #132F75;
}
.home .search_wrapper .therapist_overview .rate {
  color: #FFC400;
  margin-bottom: 10px;
  font-size: 23px;
}
.home .search_wrapper .therapist_overview .distance, .home .search_wrapper .therapist_overview h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #132F75;
  margin: 0;
}
.home .search_wrapper .therapist_overview > *:not(.bg) {
  z-index: 2;
}
.home .search_wrapper .therapist_overview .bg {
  position: absolute;
  width: 100%;
  height: calc(100% - 105px);
  background: #FFFFFF;
  border: 3px solid #FFC400;
  box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  bottom: 0;
}
.home .appointment_wrapper {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  padding: clamp(0.9375rem, 0.6793rem + 1.087vw, 1.5625rem);
  margin-bottom: 50px;
  margin-top: clamp(0.625rem, -0.4076rem + 4.3478vw, 3.125rem);
}
.home .appointment_wrapper .appointment > div:first-child {
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, 0.4755rem + 3.2609vw, 3.125rem);
}
@media (max-width: 599.98px) {
  .home .appointment_wrapper .appointment > div:first-child {
    flex-direction: column;
  }
}
.home .appointment_wrapper .appointment > div:first-child .img {
  width: clamp(11.25rem, 9.4429rem + 7.6087vw, 15.625rem);
  height: clamp(11.25rem, 9.4429rem + 7.6087vw, 15.625rem);
  overflow: hidden;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
@media (max-width: 599.98px) {
  .home .appointment_wrapper .appointment > div:first-child .img {
    border-radius: 50%;
  }
}
.home .appointment_wrapper .appointment > div:first-child .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #565656;
}
.home .appointment_wrapper .appointment > div:first-child .details .information {
  display: flex;
  align-items: center;
  gap: clamp(0.3125rem, -0.2038rem + 2.1739vw, 1.5625rem);
}
@media (max-width: 599.98px) {
  .home .appointment_wrapper .appointment > div:first-child .details .information {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.home .appointment_wrapper .appointment > div:first-child .details .information h1 {
  font-size: clamp(1.625rem, 0.7989rem + 3.4783vw, 3.625rem);
  font-weight: 600;
  color: #132F75;
}
.home .appointment_wrapper .appointment > div:first-child .details .information p {
  display: flex;
  font-size: clamp(1.25rem, 0.9918rem + 1.087vw, 1.875rem);
  margin: 0;
  font-weight: 500;
  gap: 13px;
  color: #3e3e3e;
}
.home .appointment_wrapper .appointment > div:first-child .details .address {
  font-size: clamp(1rem, 0.7677rem + 0.9783vw, 1.5625rem);
}
@media (max-width: 599.98px) {
  .home .appointment_wrapper .appointment > div:first-child .details .address {
    text-align: center;
  }
}
.home .appointment_wrapper .appointment > div:first-child .details .time {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: clamp(0.875rem, 0.6943rem + 0.7609vw, 1.3125rem);
  font-weight: 500;
  color: #707070;
  margin-top: 10px;
}
@media (max-width: 599.98px) {
  .home .appointment_wrapper .appointment > div:first-child .details .time {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
.home .appointment_wrapper .appointment > div:first-child .details .btns {
  margin-top: clamp(1rem, 0.8967rem + 0.4348vw, 1.25rem);
  display: flex;
  gap: 20px;
}
@media (max-width: 599.98px) {
  .home .appointment_wrapper .appointment > div:first-child .details .btns {
    justify-content: space-around !important;
  }
}
.home .appointment_wrapper .appointment > div:first-child .details .btns a {
  width: clamp(8.125rem, 6.0598rem + 8.6957vw, 13.125rem);
  padding: clamp(0.3125rem, 0.2351rem + 0.3261vw, 0.5rem);
  border-radius: 30px;
  border: 2px solid;
  font-size: clamp(1.1875rem, 1.0842rem + 0.4348vw, 1.4375rem);
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}
.home .appointment_wrapper .appointment > div:first-child .details .btns a:first-child {
  color: #015801;
  background: rgba(1, 88, 1, 0.031372549);
}
.home .appointment_wrapper .appointment > div:first-child .details .btns a:last-child {
  color: #012458;
  background: rgba(1, 32, 88, 0.031372549);
}
.home .appointment_wrapper .dirction h1 {
  font-size: clamp(1.625rem, 1.1345rem + 2.0652vw, 2.8125rem);
  font-weight: 400;
  color: #626262;
}
@media (max-width: 599.98px) {
  .home .appointment_wrapper .dirction h1 {
    font-size: clamp(1.625rem, 1.1345rem + 2.0652vw, 2.8125rem);
    text-align: center;
  }
}
.home .appointment_wrapper .dirction #client_location {
  height: clamp(18.75rem, 13.587rem + 21.7391vw, 31.25rem);
  margin: clamp(1.25rem, 0.9918rem + 1.087vw, 1.875rem) clamp(0.625rem, 0.3668rem + 1.087vw, 1.25rem);
  border-radius: 20px;
  border: 2px solid #132F75;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.home .appointment_wrapper .dirction .next-step {
  display: flex;
  justify-content: space-between;
}
.home .appointment_wrapper .dirction .next-step > button {
  text-decoration: none;
  background: #FFC400;
  box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border: none;
  font-weight: 600;
  font-size: 35px;
  line-height: 44px;
  text-align: center;
  color: #132F75;
  padding: 11px;
  width: 100%;
  margin-top: 13px;
  border: 3px solid #FFC400;
  display: block;
  max-width: 220px;
  transition: all 0.3s ease-out;
}
.home .appointment_wrapper .dirction .next-step > button:hover {
  background-color: transparent;
}
.home .appointment_wrapper .dirction .next-step h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  font-size: 28px;
  color: #404040;
}
.home .appointment_wrapper .dirction .next-step .arrived {
  font-size: 40px;
  margin: 0 30px;
  font-weight: 600;
  color: #008f00;
  text-align: center;
  width: 100%;
}

.visit_type_wrapper {
  flex-direction: column;
}
.visit_type_wrapper h1 {
  margin: 0;
}
.visit_type_wrapper .btns-wrapper {
  gap: 30px;
}
.visit_type_wrapper .btns-wrapper input {
  display: none;
}
.visit_type_wrapper .btns-wrapper label {
  padding: 12px clamp(0.625rem, 0.3668rem + 1.087vw, 1.25rem);
  border-radius: 10px;
  font-size: clamp(1.0625rem, 0.856rem + 0.8696vw, 1.5625rem);
  border: 2px solid;
  border: 3px solid #fff;
  line-height: clamp(1.375rem, 1.0652rem + 1.3043vw, 2.125rem);
}
.visit_type_wrapper .btns-wrapper label.selected {
  border: 3px solid #FFC400;
}

@media (max-width: 599.98px) {
  .client_calendar_wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}

footer {
  width: 100%;
  height: 70px;
  background-color: #132F75;
  margin-top: 40px;
}

/*# sourceMappingURL=client_dashboard.css.map */
