@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden auto;
}
body::after {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.08;
}

/* nice scroll bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #132F75;
  border-radius: 50px;
}

.container {
  width: 100vw;
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.lg-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.g-1 {
  grid-column: span 1;
}

.g-2 {
  grid-column: span 2;
}

.g-3 {
  grid-column: span 3;
}

.g-4 {
  grid-column: span 4;
}

.g-5 {
  grid-column: span 5;
}

.g-6 {
  grid-column: span 6;
}

.g-7 {
  grid-column: span 7;
}

.g-8 {
  grid-column: span 8;
}

.g-9 {
  grid-column: span 9;
}

.g-10 {
  grid-column: span 10;
}

.g-11 {
  grid-column: span 11;
}

.g-12 {
  grid-column: span 12;
}

.shadow {
  box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
}

.head {
  font-weight: 700;
  font-size: clamp(1.75rem, 1.1607rem + 2.4176vw, 3.125rem);
  line-height: clamp(1.875rem, 0.9911rem + 3.6264vw, 3.9375rem);
  text-align: center;
  color: #132F75;
  padding: 0 10px;
}

.alert-danger {
  --bs-alert-color: #842029;
  --bs-alert-bg: #f8d7da;
  --bs-alert-border-color: #f5c2c7;
  border-radius: 20px;
  max-width: 320px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#errors {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 222222222222222200000000000000;
  display: none;
}

body {
  zoom: 95%;
}

@media (max-height: 800px) and (min-width: 1000px) {
  body {
    zoom: 75%;
  }
}
.dots {
  width: 56px;
  height: 13.4px;
  background: radial-gradient(circle closest-side, #132f75 90%, rgba(0, 0, 0, 0)) 0% 50%, radial-gradient(circle closest-side, #132f75 90%, rgba(0, 0, 0, 0)) 50% 50%, radial-gradient(circle closest-side, #132f75 90%, rgba(0, 0, 0, 0)) 100% 50%;
  background-size: 33.3333333333% 100%;
  background-repeat: no-repeat;
  animation: dots-zcf63l 1s infinite linear;
  margin: 20px;
}

@keyframes dots-zcf63l {
  33% {
    background-size: 33.3333333333% 0%, 33.3333333333% 100%, 33.3333333333% 100%;
  }
  50% {
    background-size: 33.3333333333% 100%, 33.3333333333% 0%, 33.3333333333% 100%;
  }
  66% {
    background-size: 33.3333333333% 100%, 33.3333333333% 100%, 33.3333333333% 0%;
  }
}
.client_register .radio input {
  display: none;
}
.client_register .radio label {
  padding: clamp(0.6875rem, 0.5584rem + 0.5435vw, 1rem) 35px;
  border: 3px solid #D7D7D7;
  border-radius: 20px;
  transition: border-color 0.2s ease-out;
}
.client_register .radio label.active {
  border: 3px solid #FFC400;
  border-radius: 20px;
}
.client_register .self-managed-form {
  display: none;
}
.client_register .choice ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.verify-pop-up input {
  background: #ffffff;
  border: 1px solid #D7D7D7;
  box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: clamp(1.125rem, 0.9375rem + 0.7692vw, 1.5625rem);
  padding: clamp(0.75rem, 0.5357rem + 0.8791vw, 1.25rem) 20px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: clamp(1.25rem, 1.1696rem + 0.3297vw, 1.4375rem);
  line-height: clamp(1.75rem, 1.4821rem + 1.0989vw, 2.375rem);
  resize: none;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.verify-pop-up button {
  border-radius: clamp(1.125rem, 0.9375rem + 0.7692vw, 1.5625rem) !important;
  padding: clamp(0.75rem, 0.5357rem + 0.8791vw, 1.25rem) 20px !important;
  font-style: normal;
  font-weight: 500;
  font-size: clamp(1.25rem, 1.1696rem + 0.3297vw, 1.4375rem) !important;
}

.services_inputs {
  margin: 20px 0;
  gap: clamp(0.75rem, 0.5435rem + 0.8696vw, 1.25rem);
}
.services_inputs p {
  font-style: normal;
  font-weight: 500;
  font-size: clamp(1.5625rem, 1.3043rem + 1.087vw, 2.1875rem);
  line-height: clamp(2.125rem, 1.8668rem + 1.087vw, 2.75rem);
  text-align: center;
  color: #132F75;
  text-align: center;
}
.services_inputs input {
  display: none;
}
.services_inputs label {
  background: #FFFFFF;
  box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 30px;
  font-weight: 500;
  font-size: clamp(0.8125rem, 0.3736rem + 1.8478vw, 1.875rem);
  line-height: clamp(1.8125rem, 1.5802rem + 0.9783vw, 2.375rem);
  text-align: center;
  text-transform: capitalize;
  color: #132F75;
  width: 100%;
  padding: clamp(0.3125rem, 0.0543rem + 1.087vw, 0.9375rem);
  cursor: pointer;
}
.services_inputs label.active {
  background-color: #FFC400;
}

.Private-health {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  color: #132F75;
  margin-top: 30px;
  display: none;
  text-align: center;
}
.Private-health img {
  max-width: fit-content;
  width: 100%;
}

/*# sourceMappingURL=client.css.map */
