:root {
    --primary-clr: #132F75;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* nice scroll bar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-clr);
    border-radius: 50px;
}

.preview {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.calendar_wrapper {
    margin-top: 30px;
}

.left {
    width: 100%;
    padding: 20px;
    background: #FFFFFF;
    border: 2px solid #FFC400;
    border-radius: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.calendar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    color: #878895;
    border-radius: 5px;
    background-color: #fff;
}

.date {
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    color: var(--primary-clr);
    padding-bottom: 3px;
    border-bottom: 2px solid #FFC400;
}

/* set after behind the main element */
.calendar .month {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    padding: 15px 50px;
}

.calendar .month .prev,
.calendar .month .next {
    cursor: pointer;
}

.calendar .month .prev:hover,
.calendar .month .next:hover {
    color: var(--primary-clr);
}

.calendar .weekdays {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--primary-clr);
    font-weight: 700;
    text-align: center;
}

.weekdays div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
    gap: 3px 0;
}

.calendar .days .day {
    width: 14.28%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--primary-clr);
    padding: 10px;
    font-weight: 700;
    text-align: center;
    border-radius: 50px;
    transition: background-color .3s ease-out;
}

.calendar .days .day:not(.prev-date, .next-date):hover {
    color: var(--primary-clr);
    background: #FFC400;
}

.calendar .days .prev-date,
.calendar .days .next-date {
    color: #b3b3b3;
}

.calendar .days .active {
    position: relative;
    color: var(--primary-clr);
    background: #FFC400;
    border-radius: 50px;
}

.calendar .days .active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.calendar .days .event {
    position: relative;
}

.calendar .days .event::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--primary-clr);
}

.calendar .days .day:hover.event::after {
    background-color: #fff;
}

.calendar .days .active.event::after {
    background-color: #fff;
    bottom: 20%;
}

.calendar .days .active.event {
    padding-bottom: 10px;
}

.calendar .goto-today {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: var(--primary-clr);
}

.calendar .goto-today .goto {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--primary-clr);
}

.calendar .goto-today .goto input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--primary-clr);
    border-radius: 5px;
}

.calendar .goto-today button {
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-clr);
}

.calendar .goto-today button:hover {
    color: #fff;
    background-color: var(--primary-clr);
}

.calendar .goto-today .goto button {
    border: none;
    border-left: 1px solid var(--primary-clr);
    border-radius: 0;
}

.container .right {
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: 20px 0;
    border: 1px solid #FFC400;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 28px 35px;
}

.work-time {
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: 20px 0;
    border: 2px solid #FFC400;
    border-radius: clamp(1.25rem, calc(0.9918rem + 1.087vw), 1.875rem);
    padding: clamp(1.125rem, calc(0.8668rem + 1.087vw), 1.75rem) clamp(0.9375rem, calc(0.4212rem + 2.1739vw), 2.1875rem);
    margin-bottom: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.right .today-date {
    transition: opacity .3s ease-out;
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #80808038;
    text-transform: capitalize;
    margin-bottom: 25px;
    padding-bottom: 5px;
    padding:0 15px 5px ;
}

.event-day {
    font-weight: 700;
    font-size: clamp(1.3125rem, calc(1.0802rem + 0.9783vw), 1.875rem);
    line-height: clamp(1.375rem, calc(0.962rem + 1.7391vw), 2.375rem);
    text-align: center;
    color: var(--primary-clr);
}

.event-date {
    font-size: clamp(0.9375rem, calc(0.8342rem + 0.4348vw), 1.1875rem);
    color: #132f75b7;
}

form div select {
    background: #FFFFFF;
    box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px !important;
    border: none !important;
    font-weight: 500 !important;
    font-size: 25px !important;
    line-height: 38px!important;
    text-align: center !important;
    color: var(--primary-clr) !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
    padding: 10px 25px !important;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

form .row-1 {
    display: flex;
    justify-content: space-between;
}

form >div:not(.row-1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    color: var(--primary-clr);
    font-weight: 600;
}

.holidays {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.holidays li {
    background: var(--primary-clr);
    color: #fff;
    padding: 9px 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.holidays li i {cursor: pointer;}

form .btn-info {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    color: var(--primary-clr);
    background: #FFC400;
    box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    padding: 10px 37px;
    border: 3px solid #FFC400;
    transition: background-color .3s ease-out;
}

.current {
    background: #FFC400;
    border-radius: 50px;
}

form button:hover {
    background-color: transparent;
}

form >div >div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    color: var(--primary-clr);
    gap: 20px;
}

.this-week-head {
    margin: 45px 30px 0;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: #132F75;
}

.this-week-head >div {
    font-size: 20px;
    font-weight: 600;
}

.this-week-head th{
    padding: 10px;
    color: #222222;
}

.this-week-head td {
    text-align: center;
    margin: 5px;
}

#seven-days {
    display: grid;
    grid-template-columns: 2fr 3fr;
    border: 1px solid #132f75;
    border-radius: 30px;
    margin-top: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 28px 35px;
    margin-bottom: 100px;
    gap: 30px;
}

#seven-days >div:not(.table) {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #80808014;
    padding: 20px;
    border-radius: 20px;
}

#seven-days .row-1 {
    flex-direction: column;
    gap: 30px;
}

#seven-days form h1 {
    font-size: 34px;
    line-height: 48px;
    text-align: center;
    color: var(--primary-clr);
    font-weight: 600;
    margin-bottom: 22px;
}

.table table{
    width: 100%;
}
.table {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.table td {
    padding: 10px;
}
.table td span {
    width: 30px;
    height: 30px;
    margin: 0 !important;
    float: right;
    background: #8080803b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #00000052;
    font-size: 17px;
    font-weight: 700;
    color: #2c812c;
    -webkit-text-stroke: 1px;
    cursor: pointer;
}
.table td span i {
    display: none;
}
.table td span.selected i{
    display: block;
}

/* // mounth calendar ................. */
#mounth_calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

#mounth_calendar .day {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
}

#mounth_calendar .selected {
    background-color: #37b;
    color: white;
}
/* media queries */

@media screen and (max-width: 1000px) {
    body {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .container {
        flex-direction: column;
        border-radius: 0;
    }

    .container .left {
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }

    .container .right {
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }

    .calendar::before,
    .calendar::after {
        top: 100%;
        left: 50%;
        width: 97%;
        height: 12px;
        border-radius: 0 0 5px 5px;
        transform: translateX(-50%);
    }

    .calendar::before {
        width: 94%;
        top: calc(100% + 12px);
    }

    .events {
        padding-bottom: 340px;
    }

    .add-event-wrapper {
        bottom: 100px;
    }
}

@media screen and (max-width: 500px) {
    .calendar .month {
        height: 75px;
    }

    .calendar .weekdays {
        height: 50px;
    }

    .calendar .days .day {
        height: 40px;
        font-size: 0.8rem;
    }

    .calendar .days .day.active,
    .calendar .days .day.today {
        font-size: 1rem;
    }

    .right .today-date {
        padding: 10px 20px;
    }
}

.credits {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: #fff;
    background-color: #b38add;
}

.credits a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.credits a:hover {
    text-decoration: underline;
}