@import "_roles.scss";

.client_register {
    .radio {
        input {
            display: none;
        }
        label {
            padding: clamp(0.6875rem, calc(0.5584rem + 0.5435vw), 1rem) 35px;
            border: 3px solid $gray;
            border-radius: 20px;
            transition: border-color .2s ease-out;
            &.active {
                border: 3px solid #FFC400;
                border-radius: 20px;
            }
        }
    }

    .self-managed-form {
        display: none;
    }
    .choice {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }

}

.verify-pop-up {
    input {
        background: #ffffff;
        border: 1px solid $gray;
        box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
        border-radius: clamp(1.125rem, 0.9375rem + 0.7692vw, 1.5625rem);
        padding: clamp(0.75rem, 0.5357rem + 0.8791vw, 1.25rem) 20px;
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: clamp(1.25rem, 1.1696rem + 0.3297vw, 1.4375rem);
        line-height: clamp(1.75rem, 1.4821rem + 1.0989vw, 2.375rem);
        resize: none;
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    button {
        border-radius: clamp(1.125rem, 0.9375rem + 0.7692vw, 1.5625rem) !important;
        padding: clamp(0.75rem, 0.5357rem + 0.8791vw, 1.25rem) 20px !important;
        font-style: normal;
        font-weight: 500;
        font-size: clamp(1.25rem, 1.1696rem + 0.3297vw, 1.4375rem) !important;
    }
}

.services_inputs {
    margin: 20px 0;
    gap: clamp(0.75rem, calc(0.5435rem + 0.8696vw), 1.25rem);
    p {
        font-style: normal;
        font-weight: 500;
        font-size: clamp(1.5625rem, calc(1.3043rem + 1.087vw), 2.1875rem);
        line-height: clamp(2.125rem, calc(1.8668rem + 1.087vw), 2.75rem);
        text-align: center;
        color: #132F75;
        text-align: center;
    }
    input {
        display: none;
    }
    label {
        background: #FFFFFF;
        box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 30px;
        font-weight: 500;
        font-size: clamp(0.8125rem, calc(0.3736rem + 1.8478vw), 1.875rem);
        line-height: clamp(1.8125rem, calc(1.5802rem + 0.9783vw), 2.375rem);
        text-align: center;
        text-transform: capitalize;
        color: #132F75;
        width: 100%;
        padding: clamp(0.3125rem, calc(0.0543rem + 1.087vw), 0.9375rem);
        cursor: pointer;
        &.active {
            background-color: $secondary_color;
        }
    }
}

.Private-health {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: #132F75;
    margin-top: 30px;
    display: none;
    text-align: center;

    img {
        max-width: fit-content;
        width: 100%;
    }
}