@import "_roles.scss";
 
header {
    margin-top: clamp(1.25rem, calc(0.8482rem + 1.6484vw), 2.1875rem);
    &:first-child {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999999999999999999;
    }
    &:nth-child(2) {
        opacity: 0;
    }
    nav {
        background-color: rgba(255, 255, 255, 0.96);
        backdrop-filter: blur(1.5px);
        border: 1px solid $secondary-color;
        @extend %shadow;
        border-radius: clamp(1.25rem, calc(0.9821rem + 1.0989vw), 1.875rem);
        padding: clamp(0.9375rem, calc(0.8036rem + 0.5495vw), 1.25rem) 
                clamp(0.9375rem, calc(0.5357rem + 1.6484vw), 1.875rem);
        ul {
            @extend %flex-center;
            list-style: none;
            justify-content: space-between;
            li {
                &:first-child a{
                    @extend %flex-center;
                    font-weight: 500;
                    font-size: clamp(1rem, calc(0.625rem + 1.5385vw), 1.875rem);
                    line-height: clamp(1.75rem, calc(1.4821rem + 1.0989vw), 2.375rem);
                    color: $main-color;
                    text-decoration: none;
                    gap: clamp(0.625rem, calc(0.3571rem + 1.0989vw), 1.25rem);
                    .img {
                        width: clamp(1.875rem, calc(1.6071rem + 1.0989vw), 2.5rem);
                        height: clamp(1.875rem, calc(1.6071rem + 1.0989vw), 2.5rem);
                        background-color: $main-color;
                        border-radius: 50%;
                    }
                }
                i {
                    font-size: clamp(1.875rem, calc(1.6071rem + 1.0989vw), 2.5rem);
                    color: $main-color;
                }
            }
            .more {
                position: relative;
                #menu-icon {
                    display: inline-block;
                    
                    .bar {
                        border-radius: 50px;
                        margin: 6px;
                        width: 35px;
                        height: 4px;
                        background: $main-color;
                        border-radius: 1.5px;
                        transition: margin 0.2s, transform 0.2s;
                    
                        /* same as above but with prefixes added */
                        -webkit-transition: margin 0.2s, -webkit-transform 0.2s;
                        transition: margin 0.2s, -webkit-transform 0.2s;
                        -o-transition: margin 0.2s, transform 0.2s;
                        transition: margin 0.2s, transform 0.2s;
                        transition: margin 0.2s, transform 0.2s, -webkit-transform 0.2s;
                        display: block;
                    }

                    &:not(.close):hover .bar {
                        // margin: 7px 5px;
                    }
                    &.close .bar:first-child {
                        -webkit-transform: translateY(9px) rotate(45deg);
                        -ms-transform: translateY(9px) rotate(45deg);
                        transform: translateY(9px) rotate(45deg);
                    }

                    &.close .bar:nth-child(2) {
                        opacity: 0;
                    }

                    &.close .bar:last-child {
                        -webkit-transform: translateY(-9px) rotate(-45deg);
                        -ms-transform: translateY(-9px) rotate(-45deg);
                        transform: translateY(-9px) rotate(-45deg);
                    }
                    &.close .bar:first-child {
                        -webkit-transform: translateY(9px) rotate(45deg);
                        -ms-transform: translateY(9px) rotate(45deg);
                        transform: translateY(9px) rotate(45deg);
                    }
                    
                    &.close .bar:nth-child(2) {
                        opacity: 0;
                    }
                    
                    &.close .bar:last-child {
                        -webkit-transform: translateY(-9px) rotate(-45deg);
                        -ms-transform: translateY(-9px) rotate(-45deg);
                        transform: translateY(-9px) rotate(-45deg);
                    }
                }

            
                >ul {
                    position: absolute;
                    top: calc(100% + 40px);
                    right: 0;
                    display: flex;
                    display: none;
                    flex-direction: column;
                    white-space: nowrap;
                    background: $white;
                    border: 3px solid $secondary-color;
                    padding: 25px 20px;
                    border-radius: 30px;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    >li {
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 50px;
                        color: $main-color;
                        >ul {
                            @extend %flex-center;
                            gap: 10px;
                            flex-direction: column;
                            align-items: start;
                            li {line-height: 1;}
                            a {
                                font-size: 32px !important;
                                line-height: 25px;
                                font-weight: 500 !important;
                                color: black;
                                padding-left: 10px;
                                margin-top: 8px;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 70px;
    background-color: $main-color;
}

// start home ...
main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: clamp(2.1875rem, calc(0.4464rem + 7.1429vw), 6.25rem);
    margin: clamp(1.5625rem, calc(0.8929rem + 2.7473vw), 3.125rem) 0;

    .hero {
        display: flex;
        flex-direction: column;
        gap: clamp(1.5625rem, calc(1.1607rem + 1.6484vw), 2.5rem);

        img {
            width: 100%;
            height: 100%;
            max-width: 500px;
            object-fit: contain;
            visibility: hidden;
            animation-duration: .6s;
            @media (max-width: 599.98px) {
                width: 70%;
            }
        }

        .container:first-child {
            @media (max-width: 599.98px) {
                display: flex;
                flex-direction: column;
            }
            >div {
                gap: clamp(0.625rem, calc(0.2232rem + 1.6484vw), 1.5625rem);
                h4 {
                    font-weight: 500;
                    font-size: clamp(1.25rem, calc(0.5804rem + 2.7473vw), 2.8125rem);
                    line-height: clamp(2rem, calc(1.1964rem + 3.2967vw), 3.875rem);
                    text-align: center;
                    color: $main-color;
                    visibility: hidden;
                    animation-duration: .5s;
                    // max-width: 87%;
                    @media (max-width: 599.98px) {
                        max-width: 100%;
                    }
                }
                a {
                    font-weight: 400;
                    font-size: clamp(1.25rem, calc(1.1161rem + 0.5495vw), 1.5625rem);
                    line-height: 32px;
                    color: $main-color;
                    text-decoration: none;
                    border-bottom: 2px solid $secondary-color;
                    visibility: hidden;
                    animation-duration: .6s;
                }
                &:last-child {
                    flex-direction: column;
                }
            }
        }

        .container:nth-child(2) {
            @extend %flex-center;
            >div {
                @extend %flex-center;
                flex-direction: column;
                gap: 10px;
                a {
                    display: block;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: clamp(1.125rem, calc(0.8036rem + 1.3187vw), 1.875rem);
                    line-height: clamp(1.125rem, calc(0.5893rem + 2.1978vw), 2.375rem);
                    text-align: center;
                    color: $main-color;
                    border: clamp(0.125rem, calc(0.0446rem + 0.3297vw), 0.3125rem) solid $secondary-color;
                    @extend %shadow;
                    border-radius: clamp(0.9375rem, calc(0.5357rem + 1.6484vw), 1.875rem);
                    background: $secondary-color;
                    padding: clamp(0.6875rem, calc(0.5268rem + 0.6593vw), 1.0625rem) clamp(0.9375rem, calc(0.2679rem + 2.7473vw), 2.5rem);
                    visibility: hidden;
                }

                span {
                    font-weight: 400;
                    font-size: clamp(0.875rem, calc(0.5804rem + 1.2088vw), 1.5625rem);
                    line-height: clamp(1.375rem, calc(1.1071rem + 1.0989vw), 2rem);
                    visibility: hidden;
                    color: $main-color;
                }

                &:last-child {
                    a {
                        background-color: #ffffff32;
                        backdrop-filter: blur(1.5px);
                    }
                }
            }
        }

        .container:last-child {
            @extend %flex-center;
            p {
                max-width: 90%;
                font-style: normal;
                font-weight: 400;
                font-size: clamp(1rem, calc(0.7589rem + 0.989vw), 1.5625rem);
                line-height: clamp(1.5rem, calc(1.2857rem + 0.8791vw), 2rem);
                text-align: center;
                color: $main-color;
                visibility: hidden;
                @media (max-width: 599.98px) {
                    max-width: 100%;
                }
            }
        }
    }

    #how {
        height: clamp(6.25rem, calc(4.9107rem + 5.4945vw), 9.375rem);
        margin-top: calc(-1 * clamp(6.25rem, calc(4.9107rem + 5.4945vw), 9.375rem) - clamp(1.25rem, calc(0.9821rem + 1.0989vw), 1.875rem));
    }

    .how {
        display: flex;
        flex-direction: column;
        gap: clamp(1.25rem, calc(0.9821rem + 1.0989vw), 1.875rem);
        .head {
            visibility: hidden;
        }
        .container:first-of-type {
            @media (max-width: 599.98px) {
                display: flex;
                flex-direction: column-reverse;
            }
            p {
                font-weight: 500;
                font-size: clamp(1rem, calc(0.4911rem + 2.0879vw), 2.1875rem);
                line-height: clamp(1.625rem, calc(0.9821rem + 2.6374vw), 3.125rem);
                text-align: center;
                color: $main-color;
                padding-left: 20px;
                @media (max-width: 599.98px) {
                    padding-left: 0;
                }
                visibility: hidden;
            }
        }
        img {
            width: 100%;
            height: 100%;
            max-width: 500px;
            object-fit: contain;
            visibility: hidden;
        }    
        .container:last-child {
            @extend %flex-center;

            >div {
                @extend %flex-center;
                flex-direction: column;
                gap: 10px;

                a {
                    display: block;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: clamp(1.125rem, calc(0.8036rem + 1.3187vw), 1.875rem);
                    line-height: clamp(1.125rem, calc(0.5893rem + 2.1978vw), 2.375rem);
                    text-align: center;
                    color: $main-color;
                    border: clamp(0.125rem, calc(0.0446rem + 0.3297vw), 0.3125rem) solid $secondary-color;
                    @extend %shadow;
                    border-radius: clamp(0.9375rem, calc(0.5357rem + 1.6484vw), 1.875rem);
                    background: $secondary-color;
                    padding: clamp(0.6875rem, calc(0.5268rem + 0.6593vw), 1.0625rem) clamp(0.9375rem, calc(0.2679rem + 2.7473vw), 2.5rem);
                    visibility: hidden;
                }

                span {
                    font-weight: 400;
                    font-size: clamp(0.875rem, calc(0.5804rem + 1.2088vw), 1.5625rem);
                    line-height: clamp(1.375rem, calc(1.1071rem + 1.0989vw), 2rem);
                    color: $main-color;
                    visibility: hidden;
                }

                &:last-child {
                    a {
                        background-color: #ffffff32;
                        backdrop-filter: blur(1.5px);
                    }
                }
            }
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        gap: clamp(1.875rem, calc(1.3393rem + 2.1978vw), 3.125rem);
        .head {visibility: hidden;}
        .container {
            @media (max-width: 599.98px) {
                display: flex;
                flex-direction: column-reverse;
            }
            >div {
                flex-direction: column;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    visibility: hidden;
                    @media (max-width: 599.98px) {
                        width: 60%;
                    }
                }
                p {
                    font-weight: 400;
                    font-size: clamp(1.125rem, calc(0.9375rem + 0.7692vw), 1.5625rem);
                    line-height: clamp(1.6875rem, calc(1.5536rem + 0.5495vw), 2rem);
                    text-align: center;
                    color: $main-color;
                    visibility: hidden;
                }
            }
            form {
                position: relative;
                gap: clamp(0.875rem, calc(0.7143rem + 0.6593vw), 1.25rem);
                input, textarea {
                    background: $white;
                    border: 1px solid $secondary-color;
                    box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
                    border-radius: clamp(1.25rem, calc(0.9821rem + 1.0989vw), 1.875rem);
                    font-weight: 500;
                    font-size: clamp(1.125rem, calc(0.8036rem + 1.3187vw), 1.875rem);
                    line-height: clamp(1.375rem, calc(0.9464rem + 1.7582vw), 2.375rem);
                    color: $black;
                    padding: clamp(0.9375rem, calc(0.8036rem + 0.5495vw), 1.25rem);
                    resize: none;
                    background-color: #ffffff32;
                    backdrop-filter: blur(1.5px);
                    visibility: hidden;
                    &:focus {
                        border: 2px solid $secondary-color;
                        outline: none;
                    }
                    @media (max-width: 599.98px) {
                        grid-column: span 12;
                    }
                }
                button {
                    position: absolute;
                    bottom: 20px;
                    right: 30px;
                    background: none;
                    border: none;
                    font-size: 38px;
                    color: $main-color
                }
            }
        }
    }
}
// end ...

// start details ...
.help-wrapper {
    .head {
        margin-bottom: clamp(1.25rem, calc(0.7143rem + 2.1978vw), 2.5rem);
    }
    section {
        &:first-child {
            margin-bottom: clamp(0rem, calc(2.6786rem + -7.1429vw), -3.125rem);
            @media (max-width: 699.98px) {
                margin-bottom: 0px;
            }
        }

        >div {
            @extend %flex-center;
            justify-content: space-between;
            gap: clamp(0.9375rem, calc(-0.2679rem + 4.9451vw), 3.75rem);
            padding: 0 clamp(1.25rem, calc(0.7143rem + 2.1978vw), 2.5rem);
            >div {
                @extend %flex-center;
                width: 100%;
                &.img {
                    visibility: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        @media (max-width: 699.98px) {
                            width: 80%;
                        }
                    }
                }

                &.text {
                    visibility: hidden;
                    font-weight: 500;
                    font-size: clamp(1.1875rem, calc(0.625rem + 2.3077vw), 2.5rem);
                    line-height: clamp(1.875rem, calc(1.3393rem + 2.1978vw), 3.125rem);
                    text-align: center;
                    color: $main-color;
                }
            }
        }

        &:nth-child(2n + 2) >div{
            flex-direction: row-reverse;
        }

        >div {
            @media (max-width: 699.98px) {
                flex-direction: column !important;
            }
        }

        &:last-child {
            @extend %flex-center;
            flex-direction: column;
            gap: clamp(1.25rem, calc(0.9821rem + 1.0989vw), 1.875rem);
            a {
                font-weight: 700;
                font-size: clamp(1.4375rem, calc(0.8482rem + 2.4176vw), 2.8125rem);
                line-height: clamp(1.25rem, calc(0.2589rem + 4.0659vw), 3.5625rem);
                text-align: center;
                color: $main-color;
                display: block;
                background: $secondary-color;
                box-shadow: -2px 5px 5px rgba(0, 0, 0, 0.25);
                border-radius: clamp(1.25rem, calc(0.9821rem + 1.0989vw), 1.875rem);
                padding: clamp(0.875rem, calc(0.7946rem + 0.3297vw), 1.0625rem) clamp(3.125rem, calc(2.0536rem + 4.3956vw), 5.625rem);
                text-decoration: none;
                border: 4px solid $secondary-color;
                transition: all .3s ease-out;
                &:hover {
                    background-color: transparent;
                }
            }
            p {
                font-weight: 500;
                font-size: clamp(1.0625rem, calc(0.5804rem + 1.978vw), 2.1875rem);
                line-height: clamp(1.5rem, calc(0.9643rem + 2.1978vw), 2.75rem);
                text-align: center;
                color: $main-color;
            }
        }
    }

    .extra_section .part-time, .extra_section .full-time, .extra_section{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        align-items: center;
        gap: 20px;
        &.part-time {display: none;}
        .value {
            font-weight: 700;
            font-size: 35px;
            line-height: 44px;
            text-align: center;
            color: $main-color;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 !important;
        }
        .btns {
            button {
                font-weight: 700;
                font-size: 28px;
                line-height: 44px;
                text-align: center;
                color: #132F75;
                background: transparent;
                padding: 5px 15px;
                border-radius: 20px;
                border: none;
                cursor: pointer;
                &.active {
                    border: 2px solid $secondary-color;
                }
            }
        }
        a {
            font-weight: 800;
            font-size: 40px;
            line-height: 63px;
            text-align: center;
            color: $main-color;
            text-decoration: none;
            display: block;
            border: 5px solid $main-color;
            border-radius: 30px;
            width: fit-content;
            padding: 10px 50px;
        }
    }

    .extra_section {width: fit-content}
}
// end ...


.custom-range {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: $secondary-color;
    outline: none;
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    border-radius: 50px;
}

.custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $main-color;
    cursor: pointer;
}

.custom-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $main-color;
    cursor: pointer;
}


